/* ==========================================================================
   BlockWind SCSS: view/navigation/_index.scss
   --------------------------------------------------------------------------
   Role: Navigation behavior + enhancements.
   ========================================================================== */

@use "./core-navigation-base";
@use "./offcanvas";
