<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","className":"bw-flow","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main
  class="wp-block-group alignfull bw-flow"
  style="margin-top: 0; margin-bottom: 0"
>
  <!-- wp:group {"align":"wide","className":"bw-flow-content bw-flow-section","layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide bw-flow-content bw-flow-section">
    <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var(--wp--custom--bw-flow--gap-tight)"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:query-title {"type":"search","showPrefix":false} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","inherit":true},"align":"wide"} -->
    <div class="wp-block-query alignwide">
      <!-- wp:post-template {"align":"wide"} -->
      <!-- wp:group {"style":{"spacing":{"blockGap":"var(--wp--custom--bw-flow--gap-tight)"}},"layout":{"type":"constrained"}} -->
      <div class="wp-block-group">
        <!-- wp:post-title {"isLink":true} /-->
        <!-- wp:template-part {"slug":"post-meta","tagName":"div","area":"general"} /-->
        <!-- wp:post-excerpt /-->
      </div>
      <!-- /wp:group -->
      <!-- /wp:post-template -->

      <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
      <!-- wp:query-pagination-previous /-->
      <!-- wp:query-pagination-next /-->
      <!-- /wp:query-pagination -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
