<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var(--wp--custom--dh-flow--section-padding-y)","right":"var(--wp--custom--dh-flow--content-padding-x)","bottom":"var(--wp--custom--dh-flow--section-padding-y)","left":"var(--wp--custom--dh-flow--content-padding-x)"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
