/* ==========================================================================
   BlockWind: core/columns variations
   ========================================================================== */

@media (max-width: 781px) {
  .wp-block-columns.is-style-bw-stack-md {
    flex-wrap: wrap !important;
  }

  .wp-block-columns.is-style-bw-stack-md > .wp-block-column {
    flex-basis: 100% !important;
  }
}
