/* ==========================================================================
   BlockWind SCSS: view/block-styles/_index.scss
   --------------------------------------------------------------------------
   Role: Block style variation modules (core/*).
   ========================================================================== */

@use "./core/group";
@use "./core/columns";
@use "./core/button";
@use "./core/image";
@use "./core/gallery";
@use "./core/cover";
@use "./core/separator";
@use "./core/list";
